.table {
	max-width: 75%;
	margin-top: 90px;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

caption {
	font-size: 30px;
	text-align: center;
}

th {
	text-align: center;
	font-size: 0.9em;
	margin-bottom: 30px;
}

td {
	text-align: center;
	font-size: 0.8em;
}

.text-cllipsis {
	display: table;
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

.text-cllipsis>p {
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
}

p {
	margin-bottom: 0px;
}

.editable_button {
	text-align: right;
}

.comment_wrtie_container {
	width: 100%;
	max-width: 75%;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

.comment_wrtie_container form {
	text-align: center;
}

.comment_wrtie_container input[type="text"] {
	width: 80%;
}

.comment_list {
	border-bottom: solid 1px lightgray;
	border-left: solid 1px lightgray;
	border-right: solid 1px lightgray;
	padding-bottom: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: table;
	width: 100%;
}

.comment_list>li {
	list-style-type: none;
	float: left;
	text-align: center;
}

.comment_index { display: none; width: 0%; }
.comment_user_id { width: 15%; }
.commnet_contents { width: 65%; }
.comment_write_time { width: 15%; }
.comment_delete_button { width: 5%; }

.comment_delete_button>a {
	text-decoration: none;
}

.comment_delete_button>a:hover {
	background-color: yellow;
}