.table {
	max-width: 75%;
	margin-top: 90px;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

caption {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
}

label {
	width: 100%;
	border: 0;
}

textarea {
	width:100%;
	border: 0;
	height: 200px;
	resize: none;
}

.go_list_button {
	text-align: left;
}

.update_action_button {
	text-align: right;
}