.main_contents_container {
	max-width: 75%;
	margin-top: 90px;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

caption {
	font-size: 30px;
	text-align: center;
}

th {
	text-align: center;
	font-size: 0.7em;
	margin-bottom: 30px;
}

td {
	text-align: center;
	font-size: 0.8em;
}

.text-cllipsis {
	display: table;
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
}

.text-cllipsis>a {
	display: table-cell;
	overflow: hidden;
	text-overflow: ellipsis;
	color: blue;
	text-decoration: none;
}

a:hover {
	color: lightblue;
}

.pagination {
	display: block;
	text-align: center;
}

.pagination > li > a {
	float: none;
}

button {
	float: right;
	margin-right: 10px;
}

.post_keyword_form {
	text-align: center;
}
.post_keyword {
	padding-top: 4px;
	padding-bottom: 5px;
}